/*
--------------------
force du password
(form sf-lemonde)
--------------------
*/

.durete-mot-de-passe {
    display: flex;
    max-width: 280px;
    align-items: center;
    height: 4px;

    .texte {
        flex: 2;
        text-align: right;
    }

    .etape {
        flex: 1;
        height: 5px;
        margin-right: 5px;
        background: #e4e6e9;
    }

    &.est-faible {
        .etape {
            background: #d50304;
            &:nth-child(n+3) {
                background: #e4e6e9;
            }
        }

        .texte:before {
            color: #d50304;
            content: 'Faible';
        }
    }

    &.est-moyen {
        .etape {
            background: #ffae00;
            &:nth-child(n+5) {
                background: #e4e6e9;
            }
        }

        .texte:before {
            color: #ffae00;
            content: 'Moyen';
        }
    }

    &.est-fort {
        .etape {
            background: #68a443;
        }

        .texte:before {
            color: #68a443;
            content: 'Fort';
        }
    }
}
