[class|='icoappli']::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 61px;
    background: url('../imgs/icones-applis.png') no-repeat top left/60px 273px;
}

.icoappli {

    &-aec::before  {
        background-position: left 0;
    }

    &-matinale::before  {
        background-position: left -70px;
    }

    &-journal::before  {
        background-position: left -138px;
    }

    &-archives::before  {
        background-position: left -210px;
    }
}

[class|='icopanier']::before {
    display: block;
    content: "";
    width: 28px;
    height: 36px;
    margin-right: pas(m);
    background: no-repeat center center / contain;
}

.icopanier {
    &-securise::before {
        background-image: url('../imgs/recrutement/icon-securise.svg')
    }

    &-telephone::before {
        background-image: url('../imgs/recrutement/icon-telephone.svg');
    }
}

.pouce-leve::before {
    content: "";
    display: inline-block;
    width: 31px;
    height: 32px;
    flex: 0 0 31px;
    background: url('../imgs/recrutement/icone-pouce.svg') no-repeat top left/31px 32px;

}
