/*
---------------------------
 blocs messages et infos
---------------------------
*/

.message {
    @include borderradius(std);
    @include background(gris);
    @include color(std);
    @include border();
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    padding: pas(s) pas(m);
    margin-bottom: pas(l);

    &:empty {
        display: none;
    }

    &._fermable {
        @include icon;
        @extend .icon-Fermer;
        position: relative;

        &::before {
            position: absolute;
            font-size: 20px;
            right: 5px;
            top: 5px;
        }
    }

    &._erreur {
        @include background(erreur);
        @include border($color: erreur);
        @include color(erreur);
    }

    &._valide {
        @include background(valide);
        @include border($color: valide);
        @include color(std);
    }

    &._notif {
        @include background(notif);
        @include border($color: action);
        @include color(liens);
    }

    &._amical {
        @include background(active);
        @include border($color: action);
        @include color(negatif);
    }

    &._margebasse {
        margin-bottom: pas(m);
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    &-texte {
        flex: 1 100%;
        display: block;
        position: relative;
        margin: pas(s) 0;
        padding-left: pas(l);

        @include screen(medium) {
            flex: 1 1 0%;
        }

        &::before {
            position: absolute;
            text-align: center;
            font-size: 20px;
            width:20px;
            left: -2px;
            top: 0;
        }

        ._fermable & {
            padding-right: pas(l);
        }

        ._erreur & {
            @include icon;
            &::before {
                @include icontexte;
                content: "!";
            }
        }
        ._valide & {
            @include icon;
            @extend .icon-Check-XL;

            &::before {
                @include color(valide);
            }
        }
        ._info & {
            @include icon;
            &::before {
                @include icontexte;
                content: "i";
            }
        }
        ._notif & {
            @include icon;
            &::before {
                @include icontexte;
                content: "?";
            }
        }

        ._amical & {
            @include icon;
            @extend .icon-Happy;

            &::before {
                @include color(negatif);
                @include fontsize(std);
                font-weight: bold;
                margin-top: pas(xs);
            }
        }
    }

    &-icon {
        @include icon;
        position: absolute;
        top: 0;
        left: -2px;
    }

    &-titre {
        @include fontsize(m);
        display: block;
        font-weight: bold;
        margin-bottom: pas(s);
    }

    &-liste {
        padding-left: 0;
    }
}

/* hack pour restyler les messages magento
sur lesquels nous n'avons pas la main */
.messages {
    margin-top: pas(l);

    @include screen(small) {
        padding: 0 pas(m);
        margin-left: pas(m);
        margin-right: pas(m);
    }

    > li {
        @extend .message;

        li {
            @extend .message-texte;
        }
    }
    // success
    > .success-msg {
        @extend .message._valide;
        margin-bottom: 0;

        li {
            @include icon;
            @extend .icon-Check-XL;

            &::before {
                @include color(valide);
            }
        }
    }

    // error
    > .error-msg {
        @extend .message._erreur;

        li {
            @include icon;
            &::before {
                @include icontexte;
                content: "!";
            }
        }
    }
}

/*
hack pour styler d'autres messages
portant d'autres selecteurs
( dom arvato sur tunnel )
*/
[id="admin_messages"]:not(:empty) {
    @extend .message._erreur;
    @include icon;
    margin-top: pas(l);
    padding: pas(m);

    &::before {
        @include icontexte;
        content: "!";
    }
}

/*
---------------------------
 tableaux
---------------------------
*/

.table {
    @include tablestyle(std);
}

.tableepure {
    @include tablestyle(epure);
}

.table,
.tableepure {
    &._responsive {
        @include tableresponsive;
    }
}

/*
---------------------------
  tooltip
---------------------------
*/

.infobulle {
    $hauteur-icone: pas(m) * 2;

    position: relative;
    display: inline-block;

    &-bulle {
        @include borderradius(std);
        @include border();
        @include background(clair);
        display: none;
        position: absolute;
        width: 300px;
        padding: pas(m);

        &._top {
            @include bloc-fleche($position: 'bottom');
            bottom: $hauteur-icone + $arrow-size + pas(xs);
            left: ($hauteur-icone / 2) - (pas(m) + $arrow-size);
        }

        &._right {
            @include bloc-fleche;
            top: 50%;
            height: 30px;
            left: 100%;
            margin-top: -15px;
        }
    }

    &:hover &-bulle {
        display: block;
    }

    &-titre {
        display: block;
        font-weight: bold;
    }

    &-icone {

        &:before {
            @include borderradius(cercle);
            @include background(gris);
            @include border();
            @include color(gris);
            content: "?";
            display: block;
            font-weight: bold;
            width: $hauteur-icone;
            height: $hauteur-icone;
            line-height: $hauteur-icone;
            text-align: center;
        }

        &:hover:before {
            @include color(std);
        }
    }
}



/*
---------------------------
  pagination
---------------------------
*/

.pagination {

    text-align: center;

    &-suiv,
    &-prec,
    &-numero,
    &-bullet {
        display: inline-block;
        vertical-align: middle;
        margin: pas(s);
        a {
            text-decoration: none;
        }
    }
    /*next / prev arrows */
    &-prec > a ,
    &-suiv > a {
        @include icon;
        @include color(gris);
        cursor: pointer;

        &::before:hover {
            @include color(liens);
        }

        ._negatif &::before {
            @include color(negatif);
        }
    }

    &-prec > a { @extend .icon-Chevron-gauche; }
    &-suiv > a { @extend .icon-Chevron-droite; }


    &-bullet {
        @include borderradius(cercle);
        @include background(gris);
        @include transition-std;
        width: 8px;
        height: 8px;

        &.est-actif,
        &:hover {
            cursor: pointer;
            @include background(active);
        }

        ._negatif & {
            @include border(clair);
            background: transparent;
            width: 10px;
            height: 10px;

            &.est-actif,
            &:hover {
                @include background(clair);
            }
        }
    }

    &-numero {
        @include fontsize(m);
        @include transition-std;
        width: 15px;
        margin-left: pas(s);
        padding-top: pas(s);
        padding-bottom: pas(s);
        font-weight: bold;

        &.est-actif,
        &:hover {
            @include color(liens);
            @include border($color: action, $cardinal: bottom);
            cursor: pointer;
        }

        > a {
            @include color(std);
        }
    }
}

/*
---------------------------
  breadcrumb
---------------------------
*/

.breadcrumb {
    padding: pas(m) 0;

    &-item {
        display: inline-block;
        padding-right: pas(s);
        font-weight: bold;

        &:not(:first-child) {
            @extend .icon-Chevron-droite;
            @include icon;

            @include screen(small) {
                display: none;
            }

            &::before {
                @include color(gris);
            }
        }

        &:first-child a {
            @include icon;
            @extend .icon-Accueil;

            &::before {
                @include fontsize(m);
                margin-right: pas(s);
            }
        }
    }
}

/*
---------------------------
  Bloc centraux
  a bordures grises
  et texte gris
---------------------------
*/

.mention {
    @include color(gris);
    @include fontsize(s);
    display: block;
    padding: pas(s) 0;

    &._bordure {
        @include border-double;
        padding: pas(m) 0;
    }

    &._bordurebas {
        @include border($cardinal: bottom);
        padding: pas(m) 0;
    }

    &._footer:not(._bordurebas) {
        margin-top: pas(xl);
    }

    &._petitcorps {
        @include fontsize(xs);
    }

    &:empty,
    &._bordurebas:empty,
    &._bordure:empty,
    &.est-vide {
        border-top:0;
        padding: 0;
    }
}

/*
---------------------------
  header avec
  titre et sous-titre
---------------------------
*/

.entete {
    padding: pas(l) 0;

    @include screen(small) {
        padding: pas(l) 0;
    }

    &-titre {
        @include styletitre(t3);
        margin: 0;
    }

    &-intro {
        @include fontsize(m);
        margin: pas(s) 0 0;
    }

    & + .mention {
        margin-top: (- pas(m));
    }
}

/*
---------------------------
  section de page
---------------------------
*/

.section {
    @include border($width: large, $color: sombre, $cardinal: top);
    margin-bottom: pas(l);

    @include screen(small) {
        padding: 0 pas(m);

        &._bordabord {
            margin-left: - pas(m);
            margin-right: - pas(m);
        }
    }

    @include screen(from-medium) {
        padding: 0;
    }
}

/*
---------------------------
  Boites
---------------------------
*/

.boite {
    @include border();
    @include background(clair);
    margin-bottom: pas(l);

    &._bordclair,
    &._bordsombre {
        border-top: 0;
        margin-top: $border-width-large; // compenser le box-shadow

        &.est-desactive { // boites grisés
            @include color(gris);
            box-shadow: 0 (- $border-width-large) 0 0 map-get($border-colors, std);
        }
    }

    &._bordclair {
        box-shadow: 0 (- $border-width-large) 0 0 map-get($border-colors, action_hover);
    }

    &._bordsombre {
        box-shadow: 0 (- $border-width-large) 0 0 map-get($border-colors, sombre);
    }

    &._fondsombre {
        @include background(gris);
    }

    &._hide-not-large {

        @include screen(not-large) {
            display: none;
        }
    }

    &._scrollable {
        max-height: 240px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &-section,
    &-entete {

        ._margedroitelarge & {

            @include screen(from-medium) {
                padding-right: pas(xl);
            }
        }
    }

    &-entete {
        padding: 0 pas(m);
    }

    &-section {
        padding: pas(m);

        &:empty {
            display: none;
        }

        &:not(:last-of-type) {
            @include border($cardinal: bottom);
        }

        ._horizontale > & {
            border: 0;

            &:not(:last-of-type) {
                @include screen(small) {
                    @include border($cardinal: bottom);
                }

                @include screen(from-medium) {
                    @include border($cardinal: right);
                }
            }
        }

        &._paddingbasnul {
            padding-bottom: 0;
        }

        &._margenulle {
            margin-bottom: 0;
        }

        &._paddingtopnul {
            padding-top: 0;
        }

        &._sansbord {
            border-bottom: 0;
        }

        &._bordhaut {
            @include border($cardinal: top);
            border-bottom: 0;
        }

        &._paddinglarge {
            padding: pas(l);
        }

        ._paddinglarge & {
            padding: pas(l);
        }

        &._paddingbaslarge {
            padding-bottom: pas(l);
        }

        ._paddingbaslarge &:last-of-type {
            padding-bottom: pas(l);
        }
    }
}


/*
---------------------------
menus
---------------------------
*/

.blockliste {
    @include border();
    margin-bottom: pas(l);

    @include screen(from-large) {
        margin-left: 0;
        margin-right: 0;
    }

    @include screen(small) {
        border-left: 0;
        border-right: 0;

        &._bordabord {
            margin-left: - pas(m);
            margin-right: - pas(m);
        }
    }

    &._clair {
        @include background(clair);
    }

    &._sombre {
        @include border($width: large, $color: action_hover, $cardinal: top);
        @include background(gris);
    }

    &._bordurehaute {
        @include border($width: large, $color: sombre, $cardinal: top);
    }

    &._hide-not-large {

        @include screen(not-large) {
            display: none;
        }
    }

    &-icon {
        margin-right: pas(m);
    }

    &-section {
        @include border($cardinal: bottom);
        padding-top: pas(s);
        padding-bottom: pas(s);

        &:last-child {
            border-bottom: 0;
        }
    }

    &-header {
        padding: pas(m);
        margin: 0;
    }

    &-item {
        margin: 0;
        padding-left: pas(m);
        padding-right: pas(m);
        // hack for icon-class applying display:inline-block to element
        width: 100%;

        ._icones &,
        ._fleches &-link {
            display: inline-flex;
            flex-flow: row nowrap;
            flex: 1 100%;
        }

        ._icones & {
            align-items: baseline;

            &:before {
                display: inline-block;
                margin-top: pas(s);
                transform: translateY(.2em);
                min-width: 30px;
                max-width: 30px;
            }
        }

        ._fleches &-icone {
            @extend .itemfleche;
            // force width with flexbox
            min-width: 20px;
            max-width: 20px;

            &:before {
                text-decoration: none !important;
            }
        }

        &-link {
            display: block;
            flex: 1 100%;
            padding-top: pas(s);
            padding-bottom: pas(s);

            &._big,
            &._big > *  {
                margin: 0;
                font-weight: bold;
            }
        }
    }
}

/*
---------------------------
  Hub
---------------------------
*/

.listeoptions {

    &:not(:last-of-type) {
        margin-bottom: pas(l);
    }

    &-groupe {
        padding: pas(m) 0;

        @include screen(from-medium) {
            @include border($cardinal: top);
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-flow: row wrap;
        }

        &._empile {
            @include screen(small) {
                @include border();
                padding-top: 0;
                padding-bottom: 0;
                border-top: 0;

                &:first-child {
                    @include borderradiusside(top);
                    @include border($cardinal: top);
                }

                &:last-child {
                    @include borderradiusside(bottom);
                    margin-bottom: pas(l);
                }
            }
        }

        // appliquer une marge sur le premier
        // element suivant un .listeoptions-groupe
        &._empile + &:not(._empile) {
            @include screen(small) {
                padding-top: pas(l);
            }
        }
    }

    &-option {

        @include screen(small) {
            @include borderradiusside(top);
            @include border();
            padding: pas(m) pas(s);
            border-bottom: 0;

            ._empile & {
                border-radius: 0;
                border: 0;
            }
        }

        [class^="icon-"], [class*=" icon-"] {
            margin-right: pas(s);
            &:nth-child(2) {
                margin-left: pas(m);
            }
        }
    }

    &-edit {

        @include screen(from-medium) {
            text-align: right;
        }

        @include screen(small) {
            @include border();
            ._empile & {
                border-radius: 0;
                border: 0;
            }
        }

        &-link {
            @include icon;
            @extend .icon-Chevron-droite;
            display: block;
            padding-bottom: pas(s);

            @include screen(small) {
                @include border($cardinal: bottom);
                display: block;
                width: 100%;
                padding: pas(m) pas(s);

                ._empile & {
                    padding-top: 0;
                }
            }

            &:before { // icon fleche
                @include color(gris);
                @include fontsize(std);
                line-height: 20px;
                width: 12px;
                opacity: .5;
                float: right;
                padding-left: pas(m);

                @include screen(from-medium) {
                    display: none;
                }
            }
        }

        & &-link:last-child {

            @include screen(from-medium) {
                padding-bottom: pas(n);
            }

            @include screen(small) {
                border-bottom: 0;
            }
        }
    }
}

/*
---------------------------
  Bloc nom + avatar
---------------------------
*/

.blockclient {
    display: flex;
    align-items: center;
    margin-bottom: pas(l);

    @include screen(small) {
        margin: pas(l) 0;
    }

    &._petit {
        margin: 0;
    }

    &-infos {
        flex: auto;
    }

    ._petit &-infos {
        flex: 0 1 auto;
    }

    &-numero {
        font-weight: bold;
    }

    &-avatar {
        @include borderradius(cercle);
        align-self: top;
        flex-basis: 70px;
        width: 70px;
        height: 70px;
        background: #CCC url('../imgs/avatar_empty.jpg') top no-repeat;
        background-size: 100% 100%;
        overflow: hidden;

        &:not(:only-child) {
            margin: 0 pas(m) 0 0;
        }

        ._petit & {
            align-self: center;
            flex-basis: 30px;
            width: 30px;
            height: 30px;
        }

        @include screen(small) {
            flex-basis: 50px;
            width: 50px;
            height: 50px;
        }
    }

    &-alignedroite {
        float: right;
        font-weight: bold;

        @include screen(small) {
            display: none;
        }
    }

    &-nom {
        @include fontsize(t4);
        display: block;
        margin: 0 0 pas(s);

        ._petit & {
            @include fontsize(std);
            margin: 0;
        }
    }

    &-welcome {

        @include screen(small) {
            display: none;
        }

        ._petit & {
            @include screen(medium) {
                display: none;
            }
        }
    }
}


/*
----------------
 hack pour selection adresse existante
----------------
*/

address.formater > br:not(:first-child):not(:last-child) { display: none; }


/*
-----------------
 abonement concerne
-----------------
*/

.listeencadre {
    @include border($cardinal: bottom);
    padding-bottom: pas(m);
    margin-bottom: pas(l);

    &-titre {
        margin: 0 0 pas(m);
    }

    &-soustitre {
        margin-bottom: pas(s);
    }
}

/*
----------------------
 Onglets de navigation
----------------------
*/

.onglets {
    display: flex;
    width: 100%;

    &-conteneur {
        @include border($cardinal: bottom);
        max-width: 100%;
    }

    &-item {
        flex: none;
        display: flex;
        align-self: center;

        &:nth-child(1) {
            @include border($cardinal: left);
        }

        ._simple &:nth-child(1) {
            border: 0;
        }
    }

    &-lien {
        @include background(clair);
        @include transition-std;
        @include color(std);
        @include border($cardinal: right);
        display: inline-block;
        padding: pas(m) pas(l);
        margin: 0;
        box-shadow: 0 map-get($border-widths, large) 0 0 map-get($border-colors, std) inset;

        &:hover {
            box-shadow: 0 map-get($border-widths, large) 0 0 map-get($border-colors, action_hover) inset;
            text-decoration: none;
        }

        ._simple & {
            box-shadow: none;
            @include border($color: alpha_clair);
            border-bottom: 0;

            &:hover {
                @include border();
                border-bottom: 0;
                box-shadow: none;
            }
        }
    }

    &-item.est-actif &-lien,
    &-item.est-actif &-lien:hover {
        font-weight: bold;
        box-shadow:
            0 map-get($border-widths, std) 0 0 $blanc,
            0 map-get($border-widths, large) 0 0 map-get($border-colors, action_hover) inset;

        ._simple & {
            box-shadow: 0 map-get($border-widths, std) 0 0 $blanc;
            @include border();
            border-bottom: 0;
        }
    }

    &-item.mention {
        padding: 0 pas(m);
    }
}

/*
---------------------------
 chargement (ajax)
---------------------------
*/

.chargement {
    display: block;
    margin-top: pas(xl);
    text-align: center;
}


/*
---------------------------
 menu deroulants
---------------------------
*/

// utiliser .deroulant._from-large afin de n'activer
// le deroulant que pour les devices larges.
// ._from-large reset les propriétés du déroulant
// pour tout autre viewport

.deroulant {
    position: relative;

    &:hover {
        @include background(active_hover);

        &._from-large {

            @include screen(not-large) {
                background: none;
            }
        }
    }

    &-entete {
        display: flex;
        min-width: 150px;
        justify-content: center;
        align-items: center;
        cursor: pointer;


        .deroulant._from-large & {

            @include screen(not-large) {
                display: block;
                cursor: default;
            }
        }
    }

    &-icone {
        @include icon;
        @extend .icon-Chevron-gauche;
        margin-left: pas(m);

        &:before {
            display: inline-block;
            transform: rotate(-90deg);
        }

        .deroulant._from-large & {

            @include screen(not-large) {
                display: none;
            }
        }
    }

    &-corps {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        right: 0;

        .deroulant._from-large & {

            @include screen(not-large) {
                position: static;
                display: block;
            }
        }

        .deroulant._avecbordure & {
            // afin d'annuler la largeur de la bordure du parent
            right: (- map-get($border-widths, std));
        }
    }

    &:hover &-corps {
        display: block;
    }

    &-item a {
        @include color(std);
        display: block;
        padding: pas(s) 0;
    }
}

/*
---------------------------
 Panier
---------------------------
*/

.panier {
    transition: margin-top 0.3s ease;

    @include screen(not-large) {
        margin-top: 0!important; // overide js panier
    }

    &-entete {
        padding: pas(m) 0;
        font-weight: bold;
    }

    &-imageproduit {
        text-align: center;
        img {
            max-width: 300px;
        }
    }

    &-description {
        @include color(gris);
        margin: pas(s) 0 pas(m);
    }

    &-titreproduit {
        @include fontsize(t7);
        font-weight: bold;
    }

    &-prix {
        @include color(prix);
    }

    &-prixtotal {
        @include fontsize(t2);
        line-height: 1em;
        font-weight: lighter;
    }
}

/*
-----------------
 carrousel
 (site de recrutement)
-----------------
*/

.carrousel {
    position: relative;
    min-height: 400px;

    @include screen(small) {
        min-height: 500px;
    }

    &-item {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        background: center / auto 100% no-repeat;
        opacity: 0;
        transform: translateZ(0);
        transition: opacity 0.8s ease;

        &.est-actif {
            opacity: 1;
            z-index: 1;
        }

        // premier slide par defaut
        &._defaut {
            background: $gris-16 url('../imgs/recrutement/fond-carrousel-large.jpg') center / auto 100% no-repeat;
        }

        &.aligne {
            height: 100%;
            padding-top: 15px;
        }
    }

    .has-one &-item.aligne {
        padding-top: 50px;
    }

    &-conteneur {
        @include conteneur-site-std;

        @include screen(not-large) {
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &-titre {
        margin: pas(l) 0 pas(s);
    }

    &-intro {
        @include fontsize(t6);
        margin: pas(s) 0;
    }

    &-pagination {
        position: absolute;
        bottom: pas(m);
        z-index: 2;
        width: 100%;
    }

    &-nav {
        display: block;
        background: inline('../imgs/fleche-fine-droite.svg') no-repeat;
        width: 20px;
        height: 38px;
        position: absolute;
        top: 50%;
        bottom:0;
        z-index: 2;
        cursor: pointer;

        &._precedent {
            left: 8%;
            transform: rotate(180deg);
        }

        &._suivant {
            right: 8%;
        }

        @include screen(small) {
            display: none;
        }
    }

    &-navmobile {
        @include color(clair);
        display: none;

        @include screen(small) {
            display: inline-block;
        }
    }

    &-nav,
    &-navmobile,
    &-pagination {
        user-select: none;

        .has-one & {
            display: none;
        }
    }

    &-promo {
        display: flex;
        margin: 0 auto;
        padding: pas(xxl) pas(l) pas(xl);
        height: 100%;
        width: 100%;

        @include screen(small) {
            max-width: 320px;
        }

        @include screen(medium) {
            max-width: 767px;
        }

        @include screen(from-large) {
            max-width: 1023px;
        }
    }

    &-promodevice {
        display: none;
        height: 100%;
        width: 100%;
        background: center center / contain no-repeat;

        &._small {
            @include screen(small) {
                display: block;
            }
        }

        &._medium {
            @include screen(medium) {
                display: block;
                max-width: 767px;
            }
        }

        &._large {
            @include screen(from-large) {
                display: block;
                max-width: 1023px;
            }
        }
    }
}



/*
------------------------
Popin (popup de en overlay)
------------------------
*/

.popin {
    @include background(alpha_sombre);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.2s ease-out;

    @include screen(small) {
        padding: pas(l);
    }

    &:not(.est-visible) {
        height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
    }

    &-conteneur {
        @include background(clair);
        max-width: 850px;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        opacity: 0;
        transform: translateZ(0);
        transform: translateY(- 50px);
        transition:
            opacity 0.45s ease-out 0.1s,
            transform 0.6s ease-out 0.05s;

        @include screen(small) {
            align-self: flex-start;
        }

        .est-visible > & {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &-header {
        @include background(header);
        @include color(negatif);
        padding: pas(m) pas(l);
    }

    &-contenu {
        min-height: 70px;
        max-width: 90vw;
        padding: pas(xl) pas(l);

        @include screen(small) {
            padding: pas(l) pas(m);
        }

        @include screen(medium) {
            min-width: 560px;
        }

        @include screen(from-large) {
            min-width: 780px;
        }

    }

    &-fermer {
        @include color(negatif);

        &:hover {
            text-decoration: none;
        }
    }
}

/*
-----------------
 bloc offrir
 (site de recrutement)
-----------------
*/
.offrir {
    background: #f5f7f9 center / auto 100% no-repeat;

    @include screen(from-large) {
        min-height: 640px;
        background-image: url('../imgs/recrutement/fond-offrir-large.jpg');
    }

    @include screen(medium) {
        min-height: 640px;
        background-image: url('../imgs/recrutement/fond-offrir-medium.jpg');
    }

    @include screen(small) {
        min-height: 440px;
        background-image: url('../imgs/recrutement/fond-offrir-small.jpg');
        text-align: center;
    }

    &-texte {
        padding-top: pas(l);

        @include screen(small) {
            padding-top: pas(m);
        }
    }
}


/*
-----------------
Formules
(site de recrutement)
-----------------
*/

.formules {
    background: url('../imgs/recrutement/fond-formules.jpg') bottom / 100% auto no-repeat;
    text-align: center;

    @include screen(medium) {

        &-corps {
            padding: 0 pas(l) pas(m);
            text-align: left;
        }

        &-desc {
            padding-right: pas(l);
        }

        &-droite {
            padding-top: pas(s);
        }
    }

    @include screen(from-large) {

        &-desc {
            min-height: 170px;

            &._grand {
                min-height: 310px;
            }
        }
    }

    &-soustitre {
        margin-bottom: 0;
    }

    &-engagement {
        @include color(gris);
        display: inline-block;
        margin-bottom: pas(m);
    }

    &-prixconteneur {
        @include color(prix);
        margin: pas(m) 0 0;
    }

    &-prix {
        @include fontsize(t1);
        display: inline-block;
        margin-right: pas(s);
    }

    &-listeprix {
        @include fontsize(m);
        display: inline-block;
        width: auto;
        margin: 0 auto;
    }

    &-prixduree {
        display: inline-block;
        text-align: left;
    }

    &-corps {
        flex: 1 0 auto;
    }

    &-pied {
        flex: 0 1 auto;
    }

    &-item {
        display: flex;
        flex-flow: column;
    }
    // dans le cas d'une offre à l'unité
    &-item._monoligne {
        display: block;

        .t5 {
            margin: 0;
        }

        @include screen(from-medium) {
            text-align: left;

            .formules-prixconteneur {
                margin: 0 pas(l) 0 0;
            }

            .formules-corps {
                padding-top: pas(m);
            }
        }
    }
}


/*
-----------------
 offres
 (site de recrutement)
-----------------
*/

.separateurvertical:not(:last-child) {

    @include screen(from-medium) {
        @include border($cardinal: right);
    }

    @include screen(small) {
        @include border($cardinal: bottom);
    }
}

.offres {

    &-item {
        padding: 0 pas(l);

        @include screen(small) {
            margin: 0 pas(s);
            flex-basis: 100%;
            padding: pas(l) 0;
            margin: 0 auto;
        }
    }

    &-conteneur {
        margin: 0 auto;
        max-width: 360px;

        @include screen(from-medium) {
            padding: 0;
        }

        @include screen(small) {
            border-right: 0;
        }
    }

    &-pied {
        padding: pas(m) pas(m) 0;
        text-align: center;
        align-self: flex-end;
        @include screen(small) {
            padding-bottom: pas(l);
        }
    }

    &-icone {
        display: inline-block;
        margin: pas(m) 0 pas(m);
        width: 100%;
        height: 65px;
        background: center center / auto no-repeat;

        &._etudiant {
            background-image: inline('../imgs/recrutement/icone-etudiant.svg');
        }

        &._professionnel {
            background-image: inline('../imgs/recrutement/icone-professionels.svg');
        }

        &._etranger {
            background-image: inline('../imgs/recrutement/icone-etranger.svg');
        }

        &._config {
            background-image: inline('../imgs/recrutement/icon-config.svg');
        }

        &._devices {
            background-image: inline('../imgs/recrutement/icone-abo-num.svg');
        }

        &._boutique {
            background-image: inline('../imgs/recrutement/icone-boutique.svg');
        }
    }

    &-titre {
        margin: pas(m) 0;
    }
}

/*
------------------
page gamme entete
------------------
*/

.gammeentete {
    @include clearfix;

    @include screen(not-large) {
        margin: pas(l) 0;
    }

    @include screen(from-large) {
        margin: pas(xl) 0;
    }

    p {
        margin: pas(s) 0;
    }

    &.conteneur {
        @include screen(from-medium) {
            padding-top: pas(xl);
            padding-bottom: pas(xl);
        }
    }

    &-entete {
        margin-bottom: pas(m);

        @include screen(small) {
            margin-bottom: pas(l);
        }

        @include screen(from-large) {
            float: right;
            width: 50%;
            padding-left: pas(m);
        }

        @include screen(not-large) {
            text-align: center;
        }
    }

    &-titre {
        margin:0;
    }

    &-encadre {
        @include border(std_sombre);
        padding: pas(m);
    }

    &-texte {
        @include screen(from-medium) {
            float: right;
            width: 50%;
            padding-left: pas(m);
        }
    }

    &-visuel {
        text-align: center;

        @include screen(from-large) {
            padding-top: pas(m);
        }

        @include screen(small) {
            padding-top: pas(m);
            padding-bottom: pas(m);
        }

        @include screen(from-medium) {
            float: left;
            width: 50%;
            padding-right: pas(m);
        }

        img {
            width: 100%;
            max-width: 460px;
        }
    }

    &-incitatif {
        display: flex;

        a {
            display: inline-block;
            padding-left: pas(m);
        }
    }
}

/*
------------------
page gamme selecteur
------------------
*/

.choixduree {

    &-item {
        padding: pas(m) pas(m);

        &:hover,
        &.est-selectionne {
            @include background(gris);
            cursor: pointer;
        }
    }

    &-input {
        padding-right: pas(s);
    }

    &-titre {
        // pour cohabiter avec offres spéciales
        @include screen(from-medium) {
            float: left;
            margin-right: pas(m);
        }
    }

    &-engagement {
        @include color(gris);
        display: block;
    }

    &-prix {
        @include fontsize(t2);
        display: inline-block;
        font-weight: lighter;
    }

    &-prix + &-prixduree {
        margin-left: pas(s);
    }

    &-prixduree {
        display: inline-block;
        text-align: left;
    }

    &-promo {
        @include color(gris);
        @include fontsize(s);
        margin-left: pas(m);
        min-width: 80px;

        @include screen(small) {
            margin-right: auto;
        }
    }

    &-type {
        padding: pas(l) pas(m) pas(m);

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &-liste {

        @include screen(from-medium) {
            @include border($cardinal:left);
        }

        @include screen(small) {
            @include border($cardinal:top);
        }
    }
}


/*
--------------------
offre spéciale
( dans le choix de la duréee de l'abo )
--------------------
*/

.offrespeciale {
    padding: pas(m);

    @include screen(from-medium) {
        width: 350px;
        margin-bottom: 0;
    }

    @include screen(small) {
        max-width: 100%;
        margin-bottom: pas(s);

        &.offrespeciale {
            margin-top: pas(m);
        }
    }

    &-icone:hover {
        text-decoration: none;
    }

    &-image {
        max-width: 30px;
        height: auto;
    }

    &-titre {
        font-weight: bold;
        text-transform: uppercase;
    }

    &-texte {
        padding: 0 pas(m) 0 pas(s);
    }
}

/*
------------------
bloc selector
------------------
*/

.choixfrequence {
    @include border();
    @include borderradius(std);
    padding: pas(m);
    display: flex;
    cursor: pointer;

    @include screen(small) {
        margin-bottom: pas(m);
    }

    &.est-selectionne {
        @include border(action_hover);
    }

    &._nonclicable {
        cursor: default;
    }

    &-input {
        align-self: flex-start;
        flex: 0 1 auto;
    }

    &-texte {
        flex: 1 1 0%;
        margin-left: pas(m);
    }
}




/*
--------------------
ex: page offrir et international
entete
--------------------
*/

.enteteinfo {
    display: flex;
    align-items: center;

    @include screen(from-medium) {
        min-height: 290px;
    }

    @include screen(small) {
        min-height: 150px;
    }

    &-titre {
        margin: 0;
    }

    &-intro {
        margin-bottom: 0;
    }

    &-chevron {
        margin-right: pas(m);
        margin-left: pas(s);
        display: inline-block;
        background: inline('../imgs/recrutement/large-thin-arrow-right.svg') top center / contain no-repeat;
        width: 40px;
        height: 50px;
    }

    &-icon {
        width: 32px;
        height: 32px;
        margin-right: pas(s);
        background: center center / contain no-repeat;

        @include screen(not-large) {
            display: none;
        }

        &._imprimer {
            background-image: inline('../imgs/recrutement/icon-print.svg');
        }

        &._journal {
            width: 39px;
            background-image: inline('../imgs/recrutement/icon-journal.svg');
        }

        &._calendrier {
            background-image: inline('../imgs/recrutement/icon-calendar.svg');
        }
    }

    &-fond {
        background: $gris-16 right / auto 100% no-repeat;

        &._offrir {
            background-image: url('../imgs/recrutement/fond-entete-offrir-abo.jpg');
        }

        &._international {
            background-image: url('../imgs/recrutement/fond-entete-international.jpg');
        }

        &._pro {
            background-image: url('../imgs/recrutement/fond-entete-pro.jpg');
        }
    }

    &-guide {
        margin-top: pas(l);

        @include screen(small) {
            display: none;
        }
    }

    &-conteneur {
        width: 100%;
        max-width: 768px;
        padding: pas(l) 0;
    }
}
