/*
---------------------------
  header
---------------------------
*/

.header {
    $header-height: 50px;

    @include background(header);
    position: relative;
    z-index: 1; // debug déroulants qui passent sous certains elems
    height: $header-height;

    &._transparent {
        @include border($cardinal: bottom, $color: alpha_clair);
        @include background(alpha_sombre);
        position: absolute;
        z-index: 3;
        top: 0;
        width: 100%;
    }

    &-conteneur {
        @include conteneur-site-std;
        display: flex;
        width: 100%;
        height: 50px;

        @include screen(medium) {
            padding: 0;
        }
    }

    &-burger,
    &-logo {
        display: flex;
        align-items: center;
    }

    &-burger {
        @include border($cardinal:left, $color:alpha_clair);
        padding-left: pas(m);

        @include screen(medium) {
            padding-right: pas(m);
        }

        @include screen(from-large) {
            display: none;
        }
    }

    &-logo {
        flex: 1 1 0%;

        a {
            line-height: 1em;
            display: inline-block;
        }

        @include screen(medium) {
            padding-left: pas(l);
        }
    }

    &-menu {

        @include screen(from-large) {
            @include border($cardinal:left, $color:alpha_clair);
            @include color(negatif);
            display: flex;
            align-items: stretch;
        }

        @include screen(not-large) {
            @include color(std);
            display: block;
            position: fixed;
            z-index: 2;
            flex: none;
            height: 100vh;
            width: 100vw;
            max-width: 240px;
            top: 0;
            right: -240px;
            color: #999;
            background: white;
            transition: right 0.3s ease-in;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        .est-menu-ouvert & {
            @include screen(not-large) {
                right: 0;
            }
        }
    }

    &-filtresombre {
        @include background(alpha_sombre);
        position: fixed;
        top: 0;
        left: 0;
        height: 0;
        width: 100vw;
        transform: translateZ(0);
        opacity: 0;
        transition: opacity 0.3s ease-in;
        cursor: pointer;
        z-index: 1;

        @include screen(not-large) {
            .est-menu-ouvert & {
                opacity: 1;
                height: 100vh;
            }
        }
    }

    &-fermer {
        padding: pas(m);

        @include screen(from-large) {
            display: none;
        }

        > a:before {
            @include color(gris);
            font-size: 30px;
            line-height: .7;
        }
    }

    &-item {

        @include screen(from-large) {
            @include border($cardinal:right, $color:alpha_clair);
            display: flex;
            align-items: center;
        }

        @include screen(not-large) {

            .deroulant-entete {
                @include color(std);
                @include border($cardinal:top);
                padding: pas(m);
                display: block;

                &:before {
                    display: none;
                }
            }
        }
    }

    &-lien {
        display: flex;
        padding: pas(s) pas(m);


        &:not(.deroulant-entete),
        & a:not(.deroulant-entete) {
            @include screen(from-large) {
                @include color(negatif);
            }

            @include screen(not-large) {
                @include color(std);
            }

            &:hover {
                @include color(liens_hover);
            }
        }
    }

    &-sousmenu {
        margin-bottom: pas(s);

        @include screen(not-large) {
            border-left: 0;
            border-right: 0;
        }
    }


    // win spécificity war against
    // .deroulant._from-large .deroulant-entete
    &.header ._hide-not-large {

        @include screen(not-large) {
            display: none;
        }
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }
}

/*
---------------------------
  footer
---------------------------
*/

.liensfooter {
    padding: pas(l) 0;
    text-align: center;

    &-item {

        @include screen(from-medium) {
            display: inline;
            padding: 0 pas(s);
        }
        @include screen(small) {
            display: block;
            text-align: center;
            margin-bottom: pas(s);
        }

        &-lien {
            @include color(liens_sombres);

            &:hover {
                @include color(liens);
            }
        }
    }

    @include screen(from-medium) {

        &-item {
            display: inline-block;
            padding: 0 pas(s);
        }

        & &-item:not(:last-child)::after {
            @include color(gris);
            content: "|";
            margin-left: pas(m);
        }
    }
}

/*
---------------------------
  page de formulaire
---------------------------
*/
$label-width-petit: 90px;
$label-width: 150px;
$label-width-large: 220px;

.form {

    &-groupe {
        @include border($cardinal: bottom);
        padding-bottom: pas(l);
        margin-bottom: pas(l);

        &._sansbord {
            border: 0;
        }
    }

    &-soustitre {
        @include styletitre(t6);
        margin-bottom: pas(m);

        &:first-child {
            margin-top: 0;
        }
    }

    &-ligne ~ &-soustitre {
        @include screen(from-medium) {
            margin: pas(xl) 0 pas(m);
        };
    }

    &-soustitre:first-child {
        margin-top: pas(m);
    }

    &-option {
        @extend .itemfleche;
        @include border-double;
        display: block;
        padding: pas(m) 0;

        @include screen(from-large) {
            margin-bottom: pas(l);
        }
    }

    &-ligne {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: pas(s) 0;
        // ie11: prevent breaking when
        // child of a flex container
        width: 100%;

        &:first-child {
            margin-top: 0;
        }

        &._petit {

            @include screen(small) {
                width: 100%;
            }

            @include screen(from-medium) {
                width: 50%;
            }
        }

        &._aligntop {
            align-items:flex-start;

            > .form-ligne-label {
                padding-top: pas(s);
            }
        }

        @include screen(from-medium) {
            padding-top: 0;
            padding-bottom: 0;
        }

        @include screen(small) {
            flex-flow: row wrap;
            margin-top: 0;
            margin-bottom: 0;
        }

        &-input.date input {
            background: url('../imgs/Calendrier.svg') no-repeat right pas(m) center ;
            background-size: 20px 20px;
        }

        &-input {
            flex: 2 2 0%;

            @include screen(small) {
                flex: 1 100%;
                margin-bottom: pas(s);
            }

            @include screen(from-medium) {
                margin: 0;
            }
        }

        &-input + &-input {
            @include screen(from-medium) {
                margin-left: pas(s);
            }
        }

        // lignes forcées à 100%
        // pour aceuilir des sous-options
        &-sousligne {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            @include screen(small) {
                padding-left: pas(l);
            }
        }

        &-label {
            width: $label-width;

            &.est-requis::after {
                @include color(gris);
                content: " *";
            }

            @include screen(from-medium) {

                &:not(:first-of-type) {
                    padding-right: pas(m);
                    text-align: right;
                }

                &:first-of-type {
                    padding-right: pas(xs);
                }
            }

            @include screen(small) {
                flex: 1 100%;
                margin-top: pas(s);
                margin-bottom: pas(xs);
            }

            ._longlabel & {
                @include screen(from-medium) {
                    width: $label-width-large;
                }
            }

            ._petitlabel & {
                @include screen(from-medium) {
                    width: $label-width-petit;
                }
            }
        }

        &-mention { // texte aligné avec les champs de formulaires
            @include screen(from-medium) {
                margin-left: $label-width;
                flex: 1 1 0%;

                ._longlabel & {
                    margin-left: $label-width-large;
                }

                ._petitlabel & {
                    margin-left: $label-width-petit;
                }
            }
        }

        &-inputgroupes {
            display: flex;
            padding: pas(s) 0;
            align-items: center;
            flex: 1 1 0%;
            flex-flow: row wrap;

            > * {
                flex: 0 1 auto;
            }

            > div {
                margin-top: pas(s);
            }

            & >[type="radio"] ~ label ,
            & >[type="checkbox"] ~ label {
                margin-right: pas(m);
            }

            & >[type="radio"]:not(:first-child),
            & >[type="checkbox"]:not(:first-child) {
                margin-left: pas(s);
            }
        }

        /* hack pour css magento */
        div.validation-advice,
        &-erreur {
            @include color(erreur);
            flex: 1 100%;
            margin-top: pas(s);
        }

        // ajouter un espace après une ligne de form
        &-mention._espaceur,
        &._espaceur {
            margin-bottom: pas(xl);

            @include screen(small) {
                margin-bottom: pas(l);
            }
        }
    }

    &-action {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        padding-top: pas(xl);
        margin-bottom: pas(l);

        @include screen(from-large) {
            justify-content: flex-end;
        }

        &._alignegauche {
            @include screen(from-large) {
                justify-content: flex-start;
            }
        }

        &._petitemarge {
            padding-top: pas(m);
        }

         > .btn:not(:last-child) {
             margin-right: pas(m);
         }

        .btn {
            @include screen(small) {
                flex: 0 0 100%;
                text-align: center;

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: pas(m);
                }
            }
        }
    }
    // utilisé pour insérer du texte
    // sous un bouton (ex paiement sécurisé)
    &-boitebouton {
        display: inline-block;
        padding: pas(m) 0;
        text-align: center;
    }
}

/*
---------------------------
  historique d'achat
---------------------------
*/

.achats {
    @include tablestyle(std);
    @include tableresponsive();

    @include screen(small) {
        margin: pas(l) 0;
    }

    &-labelmobile {

        @include screen(from-medium) {
            display:none;
        }

        @include screen(small) {
            display: block;
            font-weight: bold;
            width: 100%;
        }
    }

    &-detail {

        &-conteneur {
            padding: 0 pas(m) pas(m);
        }

        &-liste {
            @include background(clair);
            @include border();
            @include bloc-fleche($borderColor: $gris-7, $position: 'top');
            position: relative;
            padding: pas(m);
        }
    }

    .achats-ligne {
        border-bottom: none;

        &:nth-child(4n+1) {
            @include background(clair);
        }

        &:nth-child(4n+3) {
            @include background(gris);
        }
    }

    .achats-detail {
        @include background(gris);
        padding-top: 0;
        padding-bottom: 0;

        > td {
            padding: 0;
            margin: 0;
        }

        &:nth-child(4n+2) {
            @include background(clair);
        }

        &:nth-child(4n+4) {
            @include background(gris);
        }
    }

    .achats-actions {

        @include screen(from-medium) {
            min-width: 250px;
        }
    }
}

/*
---------------------------
  moyens de paiements
---------------------------
*/
.paiement {
    &-liste {
        &-item {
            padding: pas(s) 0;

            input[type="radio"] {
                display: inline-block;
                float: left;
                margin-right: pas(s);
            }
        }
    }

    &-detail {
        margin-top: pas(m);
        &-titre {
            margin-bottom: pas(s);
        }
    }
}

/*
---------------------------
  confirmation de
  changement d'adresse
---------------------------
*/
.confirmeadresse {
    @include border-double;
    margin: pas(m) 0 pas(l);
    padding: pas(m) 0;

    &-adresse {
        flex: 1 1 0%;
        padding: pas(m);
    }

    &-soustitre {
        margin: 0 0 pas(m);
    }

    &-fleche {
        width: 60px;
        align-self: center;
        text-align: left;

        @include screen(small) {
            text-align: center;
            font-size: 20px;
            line-height: 20px;
            &:before {
                display: inline-block;
                transform: rotate(90deg);
                transform-origin: 50% 50%;
            }
        }

        &:before {
            font-size: 30px;
            line-height: 30px;
            color: $gris-7;
        }
    }
}

/*
---------------------------
  Gerer mes adresses de livraison
---------------------------
*/

.gererabo {
    margin-bottom: pas(l);

    &-section {
        @include border($cardinal: bottom);
        padding-bottom: pas(m);
        margin-bottom: pas(s);
    }

    &-soustitre {
        @include fontsize(m);
        font-weight: bold;
        margin-bottom: pas(s);

        @include screen(from-medium) {
            margin-top: 0;
        }

        @include screen(small) {
            margin-top: pas(l);
        }
    }
}

/*
---------------------------
  accordeon
---------------------------
*/
.accordeon {
    @include border($cardinal: top, $width: large);

    &:first-of-type {
        @include border($cardinal: top);
    }

    &-entete {
        padding: pas(m) 0;

        &:hover {
            cursor: pointer;
        }
    }

    &-titre {
        margin: 0 0 pas(xs);
        font-weight: bold;
    }

    &-contenu {
        @include transition-std;
        overflow: hidden;
        max-height: 0;
        margin-bottom: 0;

        .est-ouvert & {
            max-height: 10000px;
            margin-bottom: pas(m);
        }
    }

    &-bouton {
        @include icon;
        @extend .icon-Chevron-bas;
        display: flex;
        align-items: center;

        &:before {
            @include transition-std;
            @include borderradius(cercle);
            @include border($color: action_hover);
            order: 2;
            text-align: center;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
            margin-left: pas(s);
            // allow rotation at smaller sise
            // without dirty animation side effect
            transform: scale(0.8);
        }

        &:after {
            order: 1;

            @include screen(from-medium) {
                display: inline-block;
                content: "ouvrir";
            }

            @include screen(small) {
                display: none;
            }
        }

        &:hover {
            text-decoration: none;
        }

        .est-ouvert & {
            max-height: none;
            &:after {
                content: "fermer";
            }
            &:before {
                transform: scale(0.8) rotate(180deg);
            }
        }
    }
}


/*
---------------------------
  tunnel d'achat
---------------------------
*/
.tunnel {
    padding-top: pas(xl);

    &-colform {
        // pour comparer la hauteur des
        // colonnes en javascript
        align-self: flex-start;
    }

    &-mention {
        @include screen(from-medium) {
            text-align: right;
            padding: 0;
            line-height: 0;
            transform: translateY(-1.6em);
        }
    }
}


/*
---------------------------
  liste de newsletters
---------------------------
*/
.newsletter {
    &-item {
        @include border($cardinal: bottom);
        padding: pas(l) 0;

        &:last-child {
            border: 0;
        }
    }

    &-action {
        text-align: center;
        @include screen(small) {
            margin-top: pas(l);
        }
    }

    &-titre,
    &-abonne {
        text-transform: uppercase;
    }

    &-titre {
        font-weight: bold;

        @include screen(small) {
            display: block;
        }
    }

    &-active {
        @include color(valide);
    }

    &-abonne {
        @include color(abonne);
        font-weight: 700;
        @include fontsize(s);
    }

    & ._basique {
        align-items: center;

        @include screen(small) {
            div:last-child {
                padding-top: pas(l);
            }
        }
    }
}

/*
---------------------------
  Bloc de présentation des applis
---------------------------
*/

.blocapplis {

    @include screen(from-large) {
        margin-top: pas(l);
        margin-bottom: pas(xl);
    }

    &-titre {
        margin: 0;
    }

    &-desc {
        display: block;
        margin-top: pas(s);
    }

    &-appli {
        @include color(std);
        font-weight: bold;
        display: flex;
        align-items: center;

        &::before {
            flex: 0 0 60px;
            margin-right: pas(s);
        }

        @include screen(not-large) {
            padding-bottom: pas(m);
        }
    }

    @include screen(small) {

        &-entete {
            padding-bottom: pas(l);
        }

        .btn {
            margin-top: pas(m);
        }
    }
}

/*
--------------------
facture (checkout)
--------------------
*/

.facture {
    margin-bottom: pas(xl);
    margin-top: pas(xl);

    &-entete {

        @include screen(from-medium) {
            table-layout: fixed;
        }
    }

    &-entete,
    &-corps {
        @include tablestyle(epure);
        @include tableresponsive();

        tr td {
            vertical-align: top;
        }

        tfoot {

            @include screen(small) {
                display: table;
                width: 100%;
            }

            tr {

                @include screen(small) {
                    display: table-row;
                }
            }

            td {

                @include screen(small) {
                    display: table-cell;
                }
            }
        }
    }

    &-espaceur {

        td {

            @include screen(from-medium) {
                padding: pas(s);
            }
        }
    }

    @include responsive-modifier(
        $context: '',
        $modifier: 'textedroite',
        $bps:'from-medium'
    ) {
        text-align: right;
    }

    &-intitule {
        @include color(gris);
        font-weight: bold;
    }
}

/*
--------------------
pages de services en contruction
landing page
--------------------
*/

.bloclanding {

    @include screen(small) {
        padding-top: pas(l);
        padding-bottom: pas(l);
    }

    @include screen(from-medium) {
        padding-top: pas(xxl);
        padding-bottom: pas(xxl);
    }

    &-conteneur {
        max-width: 780px;

        @include screen(from-medium) {
            margin: 0 auto;
            padding: pas(l) pas(xxl);
        }

        @include screen(small) {
            margin: pas(m);
            padding: pas(m);
        }
    }

    &-icone {
        @include screen(small) {
            max-width: 60px;
            height: auto;
        }
    }

    &-titre {
        margin: pas(l) 0;
    }

    &-texteentete {
        margin: pas(l) 0;
    }

    &-signature {
        margin: pas(l) 0 0;
    }
/*
--------------------
bon cadeau
--------------------
*/

.printcadeau {
    @include background(clair);

    &-entete {
        @include color(negatif);
        text-align: center;
        padding: pas(xxl) 0;
        margin: 0;
        position: relative;
        overflow: hidden;
    }

    &-imageentete {
        position: absolute;
        right:0;
        top:0;
        width: 120%;
        z-index: 0;
        height: auto;
    }

    &-texteentete {
        position: relative;
        z-index: 1;
    }

    &-corps {

        @include screen(small) {
            padding: pas(l);
        }

        @include screen(from-medium) {
            padding: pas(xl) (pas(xxl) + pas(l)) 1px;
        }
    }

    &-detailoffre {
        @include screen(small) {
            padding: pas(l) 0;
        }
    }

    &-image {
        max-width: 420px;
    }

    &-icone {
        @include color(liens);
    }

    &-listeactions {
        margin-bottom: pas(l);

        @include screen(small) {
            padding-top: pas(l);
        }

        li {
            margin-bottom: pas(m);
        }
    }
}
