/*
---------------------------
 reset de la marge haute
 pour le premier element typo
 d'un block donné
---------------------------
*/

.reset-haut {
    > p:nth-child(1),
    > h1:nth-child(1),
    > h2:nth-child(1),
    > h3:nth-child(1),
    > h4:nth-child(1) {
        margin-top: 0;
    }
}

/*
---------------------------
 visibility helpers
 /!\ REQUIS PAR ARVATO (JAVASCRIPT)
---------------------------
*/

.hide,
.hidden {
    display: none !important;
}

@include responsive-modifier(
    $context: '',
    $modifier: 'hide',
    $bps: 'small' 'from-medium' 'not-large'
) {
    display: none;
}

/*
-------------------------
    clearfix
-------------------------
*/

.clearfix {
    @include clearfix;
}

/*
-------------------------
    marges
-------------------------
*/

.marge {

    &-bs {
        margin-bottom: pas(s);
        &-small {
            @include screen(small) {
                margin-bottom: pas(s);
            }
        }
    }

    &-ts {
        margin-top: pas(s);
        &-small {
            @include screen(small) {
                margin-top: pas(s);
            }
        }
    }

    &-vn {
        margin-bottom: 0;
        margin-top: 0;
    }

    &-bm {
        margin-bottom: pas(m);
        &-small {
            @include screen(small) {
                margin-bottom: pas(m);
            }
        }
    }

    &-bl {
        margin-bottom: pas(l);
        &-small {
            @include screen(small) {
                margin-bottom: pas(l);
            }
        }
    }

    &-txxl {
        margin-top: pas(xxl);
    }

    &-bxl {
        margin-bottom: pas(xl);
    }

    &-vxl {
        margin-top: pas(xl);
        margin-bottom: pas(xl);
    }

    &-vxs {
        margin-top: pas(xs);
        margin-bottom: pas(xs);
    }

    &-vl {
        &-from-large {
            @include screen(from-large) {
                margin-top: pas(l);
                margin-bottom: pas(l);
            }
        }
    }

    &-vs {
        margin-top: pas(s);
        margin-bottom: pas(s);

        &-small {
            @include screen(small) {
                margin-top: pas(s);
                margin-bottom: pas(s);
            }
        }
    }

    &-bn {
        margin-bottom: 0;
    }


    &-tm {
        margin-top: pas(m);
        &-small {
            @include screen(small) {
                margin-top: pas(m);
            }
        }
    }

    &-tl {
        margin-top: pas(l);
    }
}

/*
-------------------------
    sizes
-------------------------
*/
.w-full {
    width: 100%;
}
